
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, palevioletred, #ff9a9e);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.login-container h2 {
    margin-bottom: 10px;
}

.login-container p {
    color: gray;
    font-size: 14px;
}


.input-box input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #ff4d6d;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #e8435f;
}


.links {
    margin-top: 15px;
}

.links a {
    color: #ff4d6d;
    text-decoration: none;
    font-size: 14px;
}

.links p {
    margin-top: 10px;
}